.success-main {
  background: linear-gradient(
    to right,
    #DBBA2C 40.33% 50%,
    
    white 50%
  );
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-container {
  background-color: #ffffff;
  padding: 100px;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-image {
  width: 200px;
  max-width: 100%;
  margin-bottom: 2rem;
}

.success-message {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: green;
}

.adventure-text {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #333;
}

.back-button {
  background-color: #2b2c30 !important;
  color: white !important;
  font-weight: bold !important;
  text-transform: none !important;
  padding: 0.7rem 2rem !important;
  border-radius: 6px;
}

.back-button:hover {
  background-color: #1f2023 !important;
}

@media (max-width: 600px) {
  .payment-container {
    padding: 2rem 1.2rem;
  }

  .success-image {
    width: 140px;
  }

  .back-button {
    width: 100%;
  }
}
